@charset "UTF-8";
/* line 2, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
* {
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

@media screen and (max-width: 750px) {
  /* line 9, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-1line {
    margin: 25px 0 25px 0;
  }
  /* line 12, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-1line__menu {
    justify-content: space-between;
    margin-top: 10px;
  }
  /* line 17, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__to-left div {
    width: 30px;
    margin-left: 5px;
    margin-right: 10px;
  }
  /* line 22, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__center {
    margin-top: 15px;
  }
  /* line 25, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__img {
    display: none;
  }
  /* line 28, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__line1 {
    font-size: 24px;
  }
  /* line 31, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__line2 {
    font-size: 20px;
  }
  /* line 34, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__line3 {
    font-size: 15px;
  }
  /* line 37, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__button {
    width: 100%;
  }
  /* line 40, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__to-right div {
    width: 30px;
    margin-right: 5px;
    margin-left: 10px;
  }
  /* line 45, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-scroll__box {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  /* line 50, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .courseParam {
    width: 185px;
    /*-50*/
    height: 185px;
    /*-50*/
  }
  /* line 54, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .courseParam__1line {
    font-size: 40px;
    /*-15*/
  }
  /* line 57, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .courseParam__2line {
    font-size: 15px;
    /*-5*/
  }
  /* блок подписки*/
  /* line 63, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .subscribe-box__caption {
    margin: 53px 0px 15px 25px;
  }
  /* line 66, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .subscribe-box__text {
    margin: 0 0px 0px 25px;
  }
  /* line 69, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .subscribe-param-box__name {
    width: 265px;
  }
  /* line 72, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .subscribe-param-box__mail {
    width: 265px;
  }
  /* блок ОТЗЫВЫ */
  /* line 78, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment-header {
    height: 50px;
  }
  /* line 81, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment-header__text {
    font-size: 25px;
  }
  /* line 84, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment__text {
    width: 100%;
    margin-top: 10px;
  }
  /* line 88, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment__caption {
    text-align: center;
  }
  /* line 91, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment {
    margin: 20px 10px 0 10px;
  }
  /* line 95, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .all-comment__text {
    font-size: 16px;
  }
  /* line 99, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer {
    padding: 0 15px 0 15px;
  }
  /* line 102, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__disclaimer-text {
    font-size: 8px;
  }
  /* line 105, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses-list {
    width: 100%;
  }
  /* line 108, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses-item {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 750px) {
  /* line 115, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-1line {
    margin: 45px 0 45px 0;
  }
  /* line 118, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-1line__menu {
    justify-content: space-between;
    margin-top: 0px;
  }
  /* line 123, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__to-left div {
    width: 40px;
    margin-left: 20px;
    margin-right: 0px;
  }
  /* line 128, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__center {
    margin-top: 75px;
  }
  /* line 131, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__img {
    display: flex;
  }
  /* line 134, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__line1 {
    font-size: 40px;
  }
  /* line 137, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__line2 {
    font-size: 25px;
  }
  /* line 140, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__line3 {
    font-size: 15px;
  }
  /* line 143, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__button {
    width: 230px;
  }
  /* line 146, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-center__to-right div {
    width: 40px;
    margin-right: 20px;
    margin-left: 0px;
  }
  /* line 151, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .intro-scroll__box {
    margin-top: 90px;
    margin-bottom: 50px;
  }
  /* line 156, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .courseParam {
    width: 235px;
    height: 235px;
  }
  /* line 160, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .courseParam__1line {
    font-size: 55px;
  }
  /* line 163, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .courseParam__2line {
    font-size: 20px;
  }
  /* блок ДРУГИЕ КУРСЫ */
  /* line 168, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course {
    width: 235px;
    height: 95px;
  }
  /* line 172, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course__img {
    width: 55px;
    height: 55px;
  }
  /* line 176, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course__box {
    width: 100px;
  }
  /* line 179, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course__name {
    font-size: 17;
  }
  /* line 182, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course__duration {
    font-size: 12;
  }
  /* блок подписки*/
  /* line 187, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .subscribe-box__caption {
    margin: 53px 0px 15px 0px;
  }
  /* line 190, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .subscribe-box__text {
    margin: 0 0px 0px 0px;
  }
  /* line 193, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .subscribe-param-box__name {
    width: 465px;
  }
  /* line 196, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .subscribe-param-box__mail {
    width: 465px;
  }
  /* блок ОТЗЫВЫ */
  /* line 201, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment-header {
    height: 70px;
  }
  /* line 204, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment-header__text {
    font-size: 35px;
  }
  /* line 207, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment__text {
    width: 305px;
    color: #38383a;
    margin-top: 0px;
  }
  /* line 212, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment {
    margin: 50px 0px 0 0px;
  }
  /* line 216, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .all-comment__text {
    font-size: 20px;
  }
  /* line 220, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer {
    padding: 0;
  }
  /* line 223, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__disclaimer-text {
    font-size: 10px;
  }
  /* line 226, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses {
    width: 500px;
  }
  /* line 229, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses-caption {
    font-size: 15px;
  }
  /* line 232, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses-list {
    width: 245px;
  }
  /* line 235, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses-item {
    margin-bottom: 25px;
  }
}

/* 
Extra large devices 
*/
@media only screen and (min-width: 1400px) {
  /* line 245, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .courseParam {
    width: 250px;
    /*+15*/
    height: 250px;
    /*+15*/
  }
  /* line 249, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .courseParam__1line {
    font-size: 60px;
    /* +5 */
  }
  /* line 252, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .courseParam__2line {
    font-size: 25px;
    /*+5*/
  }
  /* блок ДРУГИЕ КУРСЫ */
  /* line 257, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course {
    width: 255px;
    /*+20*/
    height: 115px;
    /*+20*/
  }
  /* line 261, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course__img {
    width: 75px;
    /*+20*/
    height: 75px;
    /*+20*/
  }
  /* line 265, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course__box {
    width: 120px;
    /*+20*/
  }
  /* line 268, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course__name {
    font-size: 25;
    /*+8*/
  }
  /* line 271, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .other-course__duration {
    font-size: 20;
    /*+8*/
  }
  /* блок ОТЗЫВЫ */
  /* line 276, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment-header {
    height: 100px;
    /*+30*/
  }
  /* line 279, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment-header__text {
    font-size: 40px;
    /*+5*/
  }
  /* line 282, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment__text {
    width: 355px;
    /*+50*/
  }
  /* line 285, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .comment {
    margin: 70px 0px 0 0px;
    /*+20*/
  }
  /* line 290, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .all-comment__text {
    font-size: 24px;
    /*+4*/
  }
  /* line 295, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__disclaimer-text {
    font-size: 14px;
    /*+4*/
  }
  /* line 298, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses {
    width: 650px;
    /*+150*/
  }
  /* line 301, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses-caption {
    font-size: 20px;
    /*+5*/
  }
  /* line 304, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses-list {
    width: 305px;
    /*+60*/
  }
  /* line 307, D:/FrontEnd/EPAM/Tasks/michael_buranov/task_1/scss/index.scss */
  .footer__courses-item {
    margin-bottom: 25px;
  }
}

/*# sourceMappingURL=index.css.map */