/*
1.Сначала положение элемента относительно других: position, left/right/top/bottom, float, clear, z-index.
2.Затем размеры и отступы: width, height, margin, padding…
3.Рамка border, она частично относится к размерам.
4.Общее оформление содержимого: list-style-type, overflow…
5.Цветовое и стилевое оформление: background, color, font…
*/

@import '../../App.scss';

.footer-comp-outer-container{
  @extend %Comp-Outer-Container;

  height: 100%;

  background-image: url(/img/footer.jpg);
}

.footer-comp-inner-container {
  @extend %vendor-display-flex;
  @extend %vendor-align-items-center;
  @extend %Comp-Inner-Container;
  
  height: 100%;

  color:coral;
  font-weight: bold;
}
