/*
1.Сначала положение элемента относительно других: position, left/right/top/bottom, float, clear, z-index.
2.Затем размеры и отступы: width, height, margin, padding…
3.Рамка border, она частично относится к размерам.
4.Общее оформление содержимого: list-style-type, overflow…
5.Цветовое и стилевое оформление: background, color, font…
*/

@import '../../App.scss';

.film-detail-comp-outer-container{
  @extend %Comp-Outer-Container;
  box-sizing: border-box;  
  overflow: hidden;

  height: 100%;
  background-image: url(/img/filmDesc.jpg);
  background-repeat: repeat;
}

.film-detail-comp-inner-container{
  @extend %Comp-Inner-Container;

  box-sizing: border-box;
  padding: 10px 30px;
  overflow: hidden;
}

.film-detail-comp__first-line{
  @extend %vendor-display-flex;
  @extend %vendor-justify-content-space-between;
}

.film-detail-comp__first-line-caption {
  color:$coral-color;
}

.film-detail-comp__first-line-button {
  background-color: $coral-color;
  width: 150px;
  height: 30px;
  border: none;
  margin-left: 10px;
}

.film-detail-comp__totall-details-container {
  @extend %vendor-display-flex;
  @extend %vendor-justify-content-space-around;
  @extend %vendor-flex-wrap;

  box-sizing: border-box;
  padding:10px 0;
  color:white;
}

.film-detail-comp__details {
  padding:20px 10px;
}


.film-detail-comp__poster-img {
  width: ($posterWidth * 0.8);
  height: ($posterHeight * 0.8);
}

.film-detail-comp__title {
  padding:5px 0; 

  font-weight: bold;
  font-size: 32px; 
  color: $coral-color;
}

.film-detail-comp__year {
  padding:5px 0;

  font-weight: bold;
  font-size: 24px;
}

.film-detail-comp__plot {
  box-sizing: border-box;  
  padding: 10px 0;

  max-width: 600px;
  font-size: 20px;
}

.film-detail-comp__director {
  padding: 5px 0;
  font-size: 16px;
}

.film-detail-comp__actors {
  padding: 5px 0;
  font-size: 16px;
}