@import './../../App.scss';

// Высоты топа, тела, подвала страниц
$favorites-page-header-height: 70px;
$favorites-page-footer-height: 50px;
$favorites-page-film-list-height: calc(100vh - 70px - 50px);

.favorites-page-header {
  height: $favorites-page-header-height;
  background-image: url('/img/filmstrip.jpg');
}

.favorites-page-film-list {
  min-height: $favorites-page-film-list-height;
}

.favorites-page-empty-result {
  min-height: $favorites-page-film-list-height;

  @extend %vendor-display-flex;
  @extend %vendor-justify-content-center;
  @extend %vendor-align-items-center;

  font-size: 32px;
  color:lightgray;    
}

.favorites-page-fotter {
  height: $favorites-page-footer-height;
}


.favorites-page-outer-container {
  @extend %Comp-Outer-Container;
}

.favorites-page-inner-container {
  @extend %Comp-Inner-Container;
}

.favorites-page-container {
  @extend %vendor-display-flex;
  @extend %vendor-justify-content-space-between;

  padding:20px 10px;
}

.favorites-page-caption {
  font-size: 22px;
  color:$coral-color;
  font-weight: bold;
}

.favorites-page-button {
  background-color: $coral-color;
  height: 30px;
  width: 150px;
  border:none;
}

