.other-course{
	margin: 15px 10px 15px 10px;
    display: flex;
    border-radius: 10px;	
}

.other-course:hover {
    transition: 1s;  	
    transform: scale(1.2);    
    color:#39c2d7;
    background-color: white;
}
