<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы epams</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <section class="header">
        <div class="header-nav">
            <div class="header-nav__logo">
                <img src="images/logo.png" alt="Logo">
            </div>
            <nav class="header-menu">
                <div class="header-menu__item"><a href="">Программа</a></div>
                <div class="header-menu__item"><a href="">Расписание</a></div>
                <div class="header-menu__item"><a href="">Преподаватели</a></div>
            </nav>
            <button class="btn">
                <span>Войти</span>
            </button>
        </div>
        <div class="container">
            <div class="intro">
                <div class="arrow-left"></div>
                <div class="intro__img">
                    <img src="icons/icon-responsive.png" alt="image">
                </div>
                <div class="intro__info">
                    <h1 class="title">
                        Введение в HTML и CSS
                    </h1>
                    <h2 class="subtitle">
                        Интенсивный онлайн-курс для  начинающих
                    </h2>
                    <div class="intro__desc">
                        Курс рассчитан на людей, у кого пока нет опыта работы с HTML и CSS. <br>
                        Занятия проходят 3 раза в неделю, в 18-30. За время занятий вы освоите <br>
                        все современные подходы работы с HTML и CSS и научитесь верстать
                        <br>
                        макеты любой сложности.
                    </div>
                    <button class="intro__btn">
                        Записаться
                    </button>
                </div>
                <div class="arrow-right"></div>
            </div>
        </div>
        
        <div class="pagination">
            <div class="pagination__circle"></div>
            <div class="pagination__circle big"></div>
            <div class="pagination__circle"></div>
            <div class="pagination__circle"></div>
            <div class="pagination__circle"></div>
        </div>
    </section>
<!----------------------- О курсе ------------------------------------->
    <section class="about">
        <h2 class="about__title">О курсе</h2>
        <div class="about-container">
            <div class="about-container__item">
                <div class="number">102</div>
                <div class="desc">часа</div>
                <button class="btn">Подробнее</button>
            </div>
            <div class="about-container__item">
                <div class="number">34</div>
                <div class="desc">занятия</div>
                <button class="btn">Подробнее</button>
            </div>
            <div class="about-container__item">
                <div class="number">18</div>
                <div class="desc">тем</div>
                <button class="btn">Подробнее</button>
            </div>
            <div class="about-container__item">
                <div class="number">12</div>
                <div class="desc">преподавателей</div>
                <button class="btn">Подробнее</button>
            </div>
        </div> 
    </section>
<!----------------------- Другие курсы -------------------------------->
    <section class="other">
        <h2 class="other__title">Другие курсы</h2>
        <div class="container">
            <div class="other-title__item">
                <div class="image" style="background-image:url('icons/iconfinder_multimedia-09_2516850.png');">
                </div>
                <div class="desc">
                    <p class="name">Мобильная разработка</p>
                    <p class="duration">3 месяца</p>
                </div>
            </div>
            <div class="other-title__item">
                <div class="image" style="background-image:url('icons/iconfinder_multimedia-06_2516855.png');">
                </div>
                <div class="desc">
                    <p class="name">Разработка игр</p>
                    <p class="duration">4 месяца</p>
                </div>
            </div>
            <div class="other-title__item">
                <div class="image" style="background-image:url('icons/iconfinder_multimedia-04_2516853.png');">
                </div>
                <div class="desc">
                    <p class="name">Машинное обучение</p>
                    <p class="duration">6 месяцев</p>
                </div>
            </div>
            <div class="other-title__item">
                <div class="image" style="background-image:url('icons/iconfinder_multimedia-03_2516856.png');">
                </div>
                <div class="desc">
                    <p class="name">Обработка фото</p>
                    <p class="duration">2 месяца</p>
                </div>
            </div>
            <div class="other-title__item">
                <div class="image" style="background-image:url('icons/iconfinder_29-web_essential_3401847.png');">
                </div>
                <div class="desc">
                    <p class="name">E-commerce</p>
                    <p class="duration">3 месяца</p>
                </div>
            </div>
            <div class="other-title__item">
                <div class="image" style="background-image:url('icons/iconfinder_43-web_essential_3401861.png');">
                </div>
                <div class="desc">
                    <p class="name">Продвижение в интернете</p>
                    <p class="duration">4 месяца</p>
                </div>
            </div>
            <div class="other-title__item">
                <div class="image" style="background-image:url('icons/iconfinder_48-web_essential_3401866.png');">
                </div>
                <div class="desc">
                    <p class="name">Анализ данных</p>
                    <p class="duration">6 месяцев</p>
                </div>
            </div>
            <div class="other-title__item">
                <div class="image" style="background-image:url('icons/iconfinder_multimedia-04_2516853.png');">
                </div>
                <div class="desc">
                    <p class="name">Разработка на java</p>
                    <p class="duration">6 месяцев</p>
                </div>
            </div>
        </div>

    </section>
<!-----------------Subscribe----------------------------------------->
    <section class="subscribe">
        <div class="subscribe__desc">
            <div class="subscribe__title">Подписка на рассылку</div>
            <div class="subscribe__info">
                Подпишитесь на нашу рассылку и получайте информацию <br>
                о наших новых курсах. Подпишитесь на <br>
                нашу рассылку и получайте информацию о наших <br>
                новых курсах.
            </div>
        </div>
        <div class="form">
            <form action="">
                <input class="form__name" type="text" name="" id="" placeholder="Ваше имя">
                <label class="form__label" for="form__email">Ваш e-mail</label>
                <input class="form__email" type="email" name="" id="" placeholder="Ваш e-mail"><br>
                <button class="form__btn">Подписаться</button>
            </form>
        </div>
    </section>
<!----------------Review----------------------------------->
    <section class="review">
        <div class="review__title">
            Отзывы
        </div>
        <div class="review-list">
            <div class="review-list__item">
                <div class="image" style="background-image:url('images/avatar-2.jpg');"></div>
                <div class="desc">
                    <div class="desc__name">Aaron Little</div>
                    <div class="desc__text">
                        I never knew anything about computer programming <br>
                        until I took the Intro to Computer Programming course. <br>
                        Since I did not know anything about programming I <br>
                        neded a course where it would start from the ground <br>
                        and work my way up, that is just where this course <br>
                        started.
                    </div>
                </div>
            </div>
            <div class="review-list__item">
                <div class="image" style="background-image:url('images/avatar-3.jpg');"></div>
                <div class="desc">
                    <div class="desc__name">
                        Samantha Bradley
                    </div>
                    <div class="desc__text">
                        I really like the progrm and it's so much fun and pretty <br>
                        amazing to learn!
                    </div>
                </div>
            </div>
            <div class="review-list__item">
                <div class="image" style="background-image:url('images/avatar-1.jpg');"></div>
                <div class="desc">
                    <div class="desc__name">
                        Hannah Lawrence
                    </div>
                    <div class="desc__text">
                        Learned a lot about many aspects of coding. The <br>
                        exposure to so many coding languages and concepts <br>
                        was invaluable. I especially loved the courses taught by <br>
                        Steve Huffman!
                    </div>
                </div>
            </div>
            <div class="review-list__item">
                <div class="image" style="background-image:url('images/avatar-4.jpg');">
                </div>
                <div class="desc">
                    <div class="desc__name">Michael Matthews</div>
                    <div class="desc__text">
                        Before starting the Introduction to Programming <br> Nanodegree, I had only the basic knowledge of <br> computers, surfing the web and gaming. I never really <br>
                        appreciated technology until I took this course. After <br>
                        comppleting this Nanodegree, I found I had a new <br>
                        passion for programming and a strong foundation of <br>
                        knowledge that could be built upon.
                    </div>
                </div>
            </div>
        </div>

        <div class="review__btn">
            <button class="review-list__btn-all">
                Все отзывы
            </button>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__info">
            <div class="footer-logo">
                <img src="images/logo_color_gray.png" alt="">
            </div>
            <div class="footer__text">
                © 2018. Все права защищены.
                <br><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, iusto voluptatibus deserunt maiores illo, inventore libero autem consectetur aperiam voluptas sapiente earum dolorum ipsam neque! Modi officia ipsa a similique! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus repudiandae id esse commodi ab dicta, ipsum nulla? Animi quo ab quasi cum deleniti odio, modi asperiores eum debitis necessitatibus suscipit.
            </div>
        </div>
        <nav class="footer__menu">
            <div class="menu__title">Курсы</div>
            <div class="menu-list">
                <a href="" class="menu__item">Мобильная разработка</a>
                <a href="" class="menu__item">
                    Фронтэнд-разработка. <br> Продвинутый курс
                </a>
                <a href="" class="menu__item">
                    Основы машинного обучения
                </a>
                <a href="" class="menu__item">Базовый курс по SEO</a>
                <a href="" class="menu__item">Продвинутый курс по SEO</a>
                <a href="" class="menu__item">Разработка веб-сайтов</a>
                <a href="" class="menu__item">Разработка на java</a>
                <a href="" class="menu__item">Разработка на PHP</a>
                <a href="" class="menu__item">.NET-Разработка</a>
                <a href="" class="menu__item">Базовый курс по UX</a>
            </div>
        </nav>
    </footer>
</body>
</html>