
* {
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}


@media screen and (max-width: 750px) {
    .intro-1line{
        margin:25px 0 25px 0;
    }
    .intro-1line__menu{
        justify-content: space-between;
        margin-top:10px;    
    }

    .intro-center__to-left div{
        width:30px;
        margin-left:5px;
        margin-right:10px;
    }
    .intro-center__center{
        margin-top:15px;
    }    
    .intro-center__img{
        display:none;
    }
    .intro-center__line1{
        font-size:24px;
    }    
    .intro-center__line2{
        font-size:20px; 
    }     
    .intro-center__line3{
        font-size: 15px;
    }
    .intro-center__button{
        width:100%;
    }          
    .intro-center__to-right div{
        width:30px;
        margin-right:5px;	
        margin-left:10px;	        
    } 
    .intro-scroll__box{
        margin-top:20px;
        margin-bottom:10px;	
    }    

    .courseParam{
        width: 185px; /*-50*/
        height: 185px; /*-50*/
    }
    .courseParam__1line{
        font-size: 40px; /*-15*/
    }
    .courseParam__2line{
        font-size: 15px; /*-5*/
    }    


    /* блок подписки*/
    .subscribe-box__caption{
        margin:53px 0px 15px 25px;
    }    
    .subscribe-box__text{
        margin:0 0px 0px 25px;
    }    
    .subscribe-param-box__name{
        width: 265px;
    }
    .subscribe-param-box__mail{
        width: 265px;
    }
    

    /* блок ОТЗЫВЫ */
    .comment-header{
        height:50px; 
    }
    .comment-header__text{
        font-size: 25px;
    }
    .comment__text {
        width:100%;
        margin-top:10px;        
     }
     .comment__caption{
        text-align: center;
     }
    .comment {
        margin:20px 10px 0 10px;
    }

    .all-comment__text{
        font-size:16px;
    }

    .footer{
        padding: 0 15px 0 15px;
    }
    .footer__disclaimer-text{
        font-size: 8px;
    }
    .footer__courses-list{
        width: 100%;
    }    
    .footer__courses-item{
        margin-bottom:15px;
    }    
}

@media only screen and (min-width: 750px) {

    .intro-1line{
        margin:45px 0 45px 0;
    }
    .intro-1line__menu{
        justify-content: space-between;
        margin-top:0px;    
    }
    
    .intro-center__to-left div{
        width:40px;
        margin-left:20px;
        margin-right:0px;
    }    
    .intro-center__center{
        margin-top:75px;
    }    
    .intro-center__img{
        display:flex;
    }
    .intro-center__line1{
        font-size:40px;
    }    
    .intro-center__line2{
        font-size:25px; 
    }     
    .intro-center__line3{
        font-size: 15px;
    }
    .intro-center__button{
        width:230px;
    }    
    .intro-center__to-right div{
        width:40px;
        margin-right:20px;	
        margin-left:0px;	        
    }    
    .intro-scroll__box{
        margin-top:90px;
        margin-bottom:50px;	
    }    

    .courseParam{
        width: 235px;
        height: 235px;
    }
    .courseParam__1line{
        font-size: 55px;
    }
    .courseParam__2line{
        font-size: 20px;
    }    

    /* блок ДРУГИЕ КУРСЫ */
    .other-course{
        width:235px;
        height: 95px;
    }    
    .other-course__img{
        width:55px;
        height:55px;
    }
    .other-course__box{
        width:100px;
    }    
    .other-course__name{
        font-size: 17; 
    }
    .other-course__duration{
        font-size: 12;   	
    }

    /* блок подписки*/
    .subscribe-box__caption{
        margin:53px 0px 15px 0px;
    }    
    .subscribe-box__text{
        margin:0 0px 0px 0px;
    }    
    .subscribe-param-box__name{
        width: 465px;
    }
    .subscribe-param-box__mail{
        width: 465px;
    }

    /* блок ОТЗЫВЫ */
    .comment-header{
        height:70px; 
    }
    .comment-header__text{
        font-size: 35px;
    }
    .comment__text {
        width:305px;
        color: #38383a; 
        margin-top:0px;
    }
    .comment {
        margin:50px 0px 0 0px;
    }

    .all-comment__text{
        font-size:20px;
    }

    .footer{
        padding: 0;
    }
    .footer__disclaimer-text{
        font-size: 10px;
    }
    .footer__courses{
        width: 500px;
    }    
    .footer__courses-caption{
        font-size: 15px;
    }    
    .footer__courses-list{
        width: 245px;
    }    
    .footer__courses-item{
        margin-bottom:25px;
    }    
}

/* 
Extra large devices 
*/
@media only screen and (min-width: 1400px) {

    .courseParam{
        width: 250px; /*+15*/
        height: 250px; /*+15*/
    }
    .courseParam__1line{
        font-size: 60px; /* +5 */
    }
    .courseParam__2line{
        font-size: 25px; /*+5*/
    }    

    /* блок ДРУГИЕ КУРСЫ */
    .other-course{
        width:255px; /*+20*/
        height: 115px; /*+20*/
    }    
    .other-course__img{
        width:75px; /*+20*/
        height:75px; /*+20*/
    }
    .other-course__box{
        width:120px; /*+20*/
    }    
    .other-course__name{
        font-size: 25; /*+8*/
    }
    .other-course__duration{
        font-size: 20;   	/*+8*/
    }

    /* блок ОТЗЫВЫ */
    .comment-header{
        height:100px; /*+30*/
    }
    .comment-header__text{
        font-size: 40px; /*+5*/
    }
    .comment__text {
        width:355px; /*+50*/
    }
    .comment {
        margin:70px 0px 0 0px; /*+20*/
    }


    .all-comment__text{
        font-size:24px; /*+4*/
    }


    .footer__disclaimer-text{
        font-size: 14px; /*+4*/
    }
    .footer__courses{
        width: 650px; /*+150*/
    }
    .footer__courses-caption{
        font-size: 20px; /*+5*/
    }    
    .footer__courses-list{
        width: 305px; /*+60*/
    }    
    .footer__courses-item{
        margin-bottom:25px;
    }      
}



